body{background-color: whitesmoke;}
img{width:100px;
border-radius: 50%;
display:block;
margin-left: auto;
margin-right: auto;
}

h1{
    text-align: center;
}

h3{ 
    border-style:dashed;
    border-color: yellow;
    background-color: pink;
    text-align:center;
    border-radius:100%;
}

p{text-align: center;}

h4{
    width:min-content;
    border-style:dashed;
    border-color: yellow;
    background-color: pink;
    text-align: left;
    border-radius: 100%
}
